#navbar {
  padding: 15px;
}
#back {
  background-image: url(images/contest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}
#video {
  text-align: center;
  margin: 19px;
  padding: auto;
}
#glu {
  text-align: center;
  background-color: lightgreen;
  padding: 10px;

}
#glu > p {
  font-size: 50px;
  margin: 10px;
  font-weight: bolder;
}
.border {
  text-align: center;
}
#contact {
  text-align: center;
  background-color: #C2C6EA;
  margin: 10px;
  padding: 10px;
}
#video > h4 {
  color: white;
  text-align: center;
}
#video_2 {
  text-align: center;
  margin: 19px;
  padding: auto;
}
#video_3 {
  border: 3px solid blue;
  border-radius: 10px;
  text-align: center;
  margin: 19px;
  padding: auto;

}
#main {
   background-image: url(images/baner.jpg);
   background-repeat: /* REVIEW:  */;
   padding-top: 9px;
}
#footer {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}
#footer {
  padding: 10px;
  text-align: center;
}
#tag {
  padding: 2px;
  text-align: center;
  margin: 9px;
}
#h2{
  padding: 2px;
  text-align: center;
  margin: 9px;
}
#h3 {
  padding: 2px;
  text-align: center;
  margin: 9px;
}
#h4 {
  padding: 2px;
  text-align: center;
  margin: 9px;
  padding: 5px;
}
img {
  width: 4%;
  height: 4%;
}
#back > h1 {
  font-size: 30px;
}
